<img src="https://4.bp.blogspot.com/-lOSJxu2OdKg/Vv_zdgMd2aI/AAAAAAAAdAo/1EgNV62Iw5gKsRZ5-6IYU7IR8Qfmy-H5w/s1600/casino6.gif" loop='inifinite' salt='casino sign'/>
<h1>Welcome To The Casino!</h1>

<h3>What's your name and Current Bankroll?</h3>
<form method='POST' action='/'>
  <input type='text' placeholder='Name' name='name' required />
  <input type='text' placeholder='Bankroll' name='wallet' required />
  <input type='submit' />
</form>
