<html>
  <head>
    <title>Sinatra Casino</title>
    <link href='/stylesheets/styles.css' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <div class="link">
      <a href='/'>Home</a>
      <a href='/menu'>Player Menu</a>
    </div>

      <hr/>
    <%= yield %>
  </body>
</html>
