<h1>Welcome To Russian Roulette!</h1>
<h4>The game that 5/6 people love!</h4>
<img src="https://66.media.tumblr.com/6f62034c220762bfd6627ee3af010647/tumblr_mfau84YnIR1qdch9co1_500.gif" alt="revolver spinning" />
<h3>Bets Placed?</h3> Pull Trigger?

<div class='russian'>
  <form method='POST' action='/russian' required>
    <input type='radio' name='trigger' value='y' checked/>Yes
    <input type='radio' name='trigger' value='n'/>Hell No
    <input type='submit' />
  </form>
</div>
