<p>Welcome, <%= @player %>, your bankroll is <%= @wallet %>. </p>

<h3>Where would you like to go next:</h3>
<ol>
  <li>
    <a href='high_low'>High Low</a>
  </li>
  <li>
    <a href='russian'>Russian Roulete</a>
  </li>
  <li>
    <a href='wallet'>Check Bank Roll</a>
  </li>
  <li>
    Leave Casino
  </li>
</ol>
